.bannerBottom {
  background: url(/img/bg.png) no-repeat 0px 0px fixed;
  background-size: cover;
  padding: 2em 0 6rem;
}
.bannerBottom h2 {
  font-size: 3.5em;
  margin-top: 1em;
  font-family: 'Songti SC';
  line-height: 1em;
  font-weight: 800;
  color: #c49b45;
}
.bannerBottom p {
  font-size: 1.5em;
  margin-top: 1.5em;
  color: #fff;
  font-family: Yuanti SC;
  line-height: 1.6em;
}
.bannerBottom h4 {
  font-size: 1.6em;
  color: #c49b45;
  letter-spacing: -1px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
