@font-face {
  font-family: 'SourceHanSerifSC';
  src: url('/fonts/SourceHanSerifSC-Bold.otf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'HarmonyOS_Sans_SC';
  src: url('/fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'writtenson-ezldo';
  src: url('/fonts/writtenson-ezldo.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'shangshouyueyati';
  src: url('/fonts/shangshouyueyati.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: '上首矩正体';
  src: url('/fonts/上首矩正体.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: '汉仪润圆-65';
  src: url('/fonts/汉仪润圆-65.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: '汉呈王世李行书';
  src: url('/fonts/汉呈王世李行书.ttf') format('truetype');
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
ol,
ul,
li,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle {
  width: calc(100vh - 50px);
  height: calc(100vh - 50px);
  border-radius: 50%;
  opacity: 0.3;
  position: absolute;
  z-index: 999;
  /* background-color: green; */
  background: url(/favicon.ico);
  background-size: 100% 100%;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .circle {
    display: none;
  }
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: calc(100vh);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
